# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Java Quality & Test

on:
  pull_request:
  push:


jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout du code
      - uses: actions/checkout@v4

      # 2️⃣ Installer Java 22
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 22

      # 3️⃣ Cacher les dépendances Maven pour accélérer
      - name: Cache Maven packages
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      # 4️⃣ Vérifier la compilation
      - name: Compile
        run: mvn clean compile

      # 8️⃣ Lancer les tests JUnit
      - name: Run tests
        run: mvn test
